* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  border-bottom: 3px solid black;
  background-image: url('imagenes/banner.jpg');
  background-size: 130px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
}

.logo {
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.logo:hover {
text-decoration: underline;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
}

.menu-link:hover {
  text-decoration: underline;
}

.login-button {
  background-color: #fdfdfd;
  color: green;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

.container {
  width: 300px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: #f8f8f8;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputContainer {
  margin-bottom: 15px;
  text-align: left;
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.checkboxContainer {
  margin-bottom: 15px;
  text-align: left;
  display: flex;
  align-items: center;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.forgotPassword {
  margin-top: 10px;
}

.forgotPassword a {
  color: green;
  text-decoration: none;
  font-size: 15px;
}

.espacio_banner {
  color: green;
  text-align: center;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
}

.botones_espacios {
  text-align: center;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 15px;
}

.titulo_crearespacio {
  text-align: center;
  color: green;
  margin-top: 15px;
  margin-bottom: 15px;
}

.formulario-crear-espacio {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid green;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.titulo_crearespacio {
  color: green;
  margin-top: 0;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.boton-guardar {
  background-color: green;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.boton-guardar:hover {
  background-color: #007700; /* Color más oscuro al pasar el cursor */
}

.mensaje-confirmacion {
  background-color: #dff0d8; /* Color de fondo verde claro */
  color: #155724;           /* Color de texto verde oscuro */
  border: 1px solid #c3e6cb; /* Borde más claro que el fondo */
  padding: 20px;             /* Espaciado interno para dar más espacio */
  margin: 30px auto;         /* Margen superior e inferior y centrado horizontal */
  border-radius: 5px;        /* Bordes redondeados */
  width: 80%;                /* Ancho del contenedor del mensaje */
  max-width: 500px;          /* Ancho máximo para evitar que sea demasiado grande */
  text-align: center;        /* Alineación del texto al centro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
}

.mensaje-confirmacion p {
  margin: 0;                 /* Sin margen adicional para mantener el diseño limpio */
  font-weight: bold;         /* Texto en negrita para destacar */
}

.mensaje-confirmacion button {
  margin-top: 20px;          /* Espacio sobre el botón para separarlo del texto */
  padding: 10px 20px;        /* Relleno dentro del botón para hacerlo más grande y fácil de hacer clic */
  background-color: green;   /* Color de fondo verde para el botón, coincidiendo con el tema */
  color: white;              /* Texto del botón en blanco para contraste */
  border: none;              /* Sin borde */
  border-radius: 5px;        /* Bordes redondeados para el botón */
  cursor: pointer;           /* Cursor tipo puntero para indicar que es clickeable */
  font-size: 16px;           /* Tamaño de fuente más grande para mejorar la legibilidad */
  font-weight: bold;         /* Texto en negrita para mayor énfasis */
}

.mensaje-confirmacion button:hover {
  background-color: #007700; /* Cambio de color al pasar el ratón para indicar interactividad */
}


.input-wrapper {
  display: flex;
  align-items: center;
}

.input-inventario {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.unidad {
  margin-left: 8px;
  font-size: 16px;
}

.error {
  color: red;
  margin-bottom: 15px;
}